@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

/******************************* Mobile View ******************************************/
.top-nav,
.right-menu {
    display: none;
}

.nav-bar {
    display: block;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.bottom-nav-menu {
    max-height: 63px;
    padding: 20px;
}

.bar {
    display: block;
    width: 31px;
    height: 5px;
    margin: 5px auto;
    top: 17px;
    left: 23px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger {
    display: block;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.right-menu.active {
    display: block;
    position: fixed;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    list-style-type: none;
    background-color: rgb(221, 206, 206);
    padding: 20px 0px 20px 20px;
    z-index: 99;
    height: 100%;
    left: 0;
    top: 70px;
}

.right-menu li {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 95%;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 232px;
}

.left-menu img {
    width: 130px;
    height: 51px;
}

.right-menu li {
  border-bottom: 1px solid black;
  width: 95%;
}

.right-menu a {
    text-decoration: none;
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 16.8px;
}

.header-section {
    margin-top: -20px;
    height: 500px;
    background-color: #e6dddd;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.header-section h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(238, 73, 8);
    font-size: 28px;
    padding-top: 150px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.header-section h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #f8200899;
    margin: 0 20px 0 23px;
    text-align: center;
  }

  .about-section p {
     border: 8px solid white;
     margin: 0px 10px 0 10px;
     height: 150px;
     padding: 20px;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     letter-spacing: -1%;
     text-align: center;
     margin-bottom: 200px;
  }

.contact-section {
    background-color: #f1eeee;
    padding: 20px;
    margin-bottom: 50px;
}

.contact-section p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}

.contact-section strong {
    font-weight: bolder;
    text-decoration: underline;
}

.contact-section a {
    color: black;
}

.about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-logo h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.about-logo hr {
    width: 35px;
    border: 2px solid #A04038;
}

.about-logo p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    line-height: 31px;
}

.about-logo img {
    width: 375px;
    height: 141.72px;
    margin-bottom: 150px;
}

.past-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.past-events h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  color: #2C2C2C;
}

.past-events hr {
    width: 35px;
    border: 2px solid #A04038;
    margin-top: 0;
}

.past-events p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    font-weight: 700;
}

.pasts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.past-images-1:hover,
.past-images-2:hover {
    cursor: pointer;
}

.past-images-1 {
    background: linear-gradient(rgba(231, 76, 60, 0.7), rgba(231, 76, 60, 0.7)), url(./assets/past-events/past-event-1.jpg);
} 

.past-images-2 {
    background: linear-gradient(rgba(231, 76, 60, 0.7), rgba(231, 76, 60, 0.7)), url(./assets/past-events/past-event-2.jpg);
} 

.past-images-1,
.past-images-2 {
    background-size: contain;
    background-repeat: no-repeat;
}

.past-images-1,
.past-images-2 {
    margin-bottom: 20px;
    width: 434px;
    height: 282.46px;
}

.pasts h3 {
    padding-top: 60px;
    font-size: 40px;
}

.pasts h4 {
    font-size: 20px;
}

.pasts h3,
.pasts h4 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.text-wrapper {
    position: relative;
    margin-top: -50%;
}

.text-wrapper h3,
.text-wrapper h4 {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

.text-wrapper h3 {
    font-size: 44px;;
}

.text-wrapper h4 {
    font-size: 24px;;
}

.partners {
    background-color: #414246;
    height: 356px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partners h3 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.partners hr {
  width: 30px;
  border: 2px solid #A04038;
}

.partners img {
    width: 102.67px;
    height: 51px;
}

.partners ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.rights {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    gap: 40px;
    justify-content: center;
}

.rights img {
    width: 250px;
    height: 100px;
}

.rights p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.08px;
}

  /******************************* Desktop View ******************************************/
@media (min-width: 768px) {
.nav-bar {
    width: 100%;
    max-height: 105px;
    padding: 0px 198px opx 209px;
    gap: 232px;
}

.top-nav {
    display: block;
    width: 100%;
    background-color: #3E3E3E;
    padding: 5px;
}

.top-nav-menu {
    display: flex;
    gap: 32px;
    align-items: flex-end;
    justify-content: right;
    list-style-type: none;
    max-width: 1440px;
    margin: auto 20px auto 80px;
}

.top-nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.bottom-nav {
    width: 100%;
    background-color: #FFFFFF;
}

.bottom-nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: auto 20px auto 150px;
    padding: 5px;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 232px;
}

.left-menu img {
    width: 130px;
    height: 51px;
}

.right-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    z-index: 99;
    height: 100%;
    width: 750px;

}

.right-menu li {
    border: none;
    margin-bottom: -30px;
    padding: 10px;
}

.right-menu a {
    text-decoration: none;
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 16.8px;
    padding: 10px;
}

.right-menu .red {
    color: red;
    border: 2px solid red;
    padding: 10px;
    margin-right: 50px;
    margin-left: -50px;
}
.hamburger {
    display: none;
}
    

.header-section,
.about-section,
.contact-section {
    background-color: #e2d9d9;
}

.header-section {
    margin-top: -20px;
    height: 500px;
    /* filter: grayscale(1); */
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.header-section h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(238, 73, 8);
    font-size: 28px;
    padding-top: 150px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.header-section h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #f8200899;
    margin: 0 20px 0 23px;
    text-align: center;
  }

  .about-section p {
     background-color: white;
     margin: 0px 10px 0 10px;
     height: 250px;
     padding: 20px;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-size: 24px;
     line-height: 35px;
     letter-spacing: -1%;
     text-align: center;
     margin-bottom: 200px;
     width: 1000px;
     margin: auto;
  }

.contact-section {
    padding: 20px;
    margin-bottom: 50px;
}

.contact-section p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    width: 900px;
    margin: auto;
}

.contact-section strong {
    font-weight: bolder;
    text-decoration: underline;
}

.about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-logo h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.about-logo hr {
    width: 35px;
    border: 2px solid #A04038;
}

.about-logo p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    line-height: 31px;
    width: 1000px;
}

.about-logo img {
    width: 375px;
    height: 141.72px;
    margin-bottom: 150px;
}

.past-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
}

.pasts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.past-events h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  color: #2C2C2C;
}

.past-events hr {
    width: 35px;
    border: 2px solid #A04038;
    margin-top: 0;
}

.past-events p {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    font-weight: 700;
}

.past-images-1 {
    background: linear-gradient(rgba(231, 76, 60, 0.7), rgba(231, 76, 60, 0.7)), url(./assets/past-events/past-event-1.jpg);
} 

.past-images-2 {
    background: linear-gradient(rgba(231, 76, 60, 0.7), rgba(231, 76, 60, 0.7)), url(./assets/past-events/past-event-2.jpg);
} 

.past-images-1,
.past-images-2 {
    background-size: contain;
    background-repeat: no-repeat;
}

.past-images-1,
.past-images-2 {
    margin-bottom: 20px;
    width: 434px;
    height: 282.46px;
}

.pasts h3 {
    padding-top: 60px;
    font-size: 40px;
}

.pasts h4 {
    font-size: 20px;
}

.pasts h3,
.pasts h4 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.text-wrapper {
    position: relative;
    margin-top: -50%;
}

.text-wrapper h3,
.text-wrapper h4 {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

.text-wrapper h3 {
    font-size: 44px;;
}

.text-wrapper h4 {
    font-size: 24px;;
}

.partners {
    display: none;
}

.partners h3 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.partners hr {
  width: 30px;
  border: 2px solid #A04038;
}

.partners img {
    width: 102.67px;
    height: 51px;
}

.partners ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.rights {
    display: flex;
    padding: 50px 0 50px 0;
    margin-top: 20px;
    gap: 40px;
    justify-content: center;
    background-color: #414246;
}

.rights img {
    width: 250px;
    height: 100px;
}

.rights p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.08px;
    color: #FFFFFF;
}
  /* .header-section h3 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #595959;
    margin: 48px 20px 0 23px;
  }

  .header-section h4 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #868686;
    margin: 0 20px 0 23px;
  } */
}